.Content {
    padding: 0;    
    align-items: center!important;
}
.row-fluid {  
    margin: 0 auto;
    max-width: 90%;
}
	
@media (min-width: 1200px){

    .row-fluid:before, .row-fluid:after {
        display: table;
        content: "";
        line-height: 0;
	}
	.row-fluid:after{
		clear: both;
	}

  }