.Content {
    padding: 0;    
    align-items: center!important;
}
.body {  
    margin: auto;
    max-width: 90%!important;
    padding-top: 10px;
}
.navbar {
    width: 100% !important;
    max-width: 100% !important;
}
	
@media (min-width: 1200px){

    .row-fluid:before, .row-fluid:after {
        display: table;
        content: "";
        line-height: 0;
	}
	.row-fluid:after{
		clear: both;
	}

  }