.navbar-wrapper{
    background:none repeat scroll 0 0 #323A45!important;
    padding: 0;
    min-height: 50px;
}
.home{
	margin: 0!important;
	color: #fff!important;
	text-shadow: none;
	line-height: 30px;
	font-size: 1em;
	background: #e2a500;
	font-family: 'Ubuntu';
	float: left;
  display: block;
	padding: 10px 20px 10px!important;
	font-weight: 200;
	height: 50px;
}
.navigation{
    max-width: 90%;
    width: 100%;
    margin:auto;
}